<%= form({action: artistsLoginPostPath(), method: "POST"}) { %>
<div class="row">

    <div class="row">
        <div class="col-12">
            <%= f.InputTag({name: "Email", label: "Email" })%>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <%= f.InputTag({name: "Password", label: "Password", type: "password" })%>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center mt-2">
            <button class="btn btn-outline-primary" type="submit">
                Login
            </button>
        </div>
    </div>
</div>
<% } %>